body {
  font-family: "Newsreader", serif;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo1 img {
  width: 190px;
  height: auto;
  justify-content: end;
}

.logo img {
  width: 190px;
  height: auto;
  margin-left: 2px;
}

.logo2 img {
  width: 100px;
  height: auto;
}

.navi {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: rgb(3, 3, 3);
  z-index: 1;
  padding: 15px 0;
  text-align: center;
  box-shadow: 10px 17px 82px 11px rgba(56, 54, 59, 0.375);
  border: 0px;
  border-radius: 2px;
}

.navi ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navi ul li {
  display: inline-block;
  margin: 0 100px;
  text-transform: uppercase;
}

.navi ul li a {
  color: white;
  text-decoration: none;
  font-size: 15px;
}
.navi ul li a:hover {
  color: rgb(231, 153, 8);
  text-shadow: 2px 0.5px 2px;
  border: 2px solid rgb(231, 153, 8);
  border-radius: 10px;
  transition: all 0.2s ease-in;
  padding: 10px;
}

.mid {
  background-image: url("/img/w140.jpg");
  background-position: center;
  background-size: cover;
  height: 800px;
  padding: 2%;
  opacity: 95%;
}
.p1 {
  font-size: 90px;
  color: rgb(223, 223, 223);
  text-transform: uppercase;
  letter-spacing: 4px;
  text-align: center;
  padding-left: 1%;
}
.p2 {
  border: 2px solid rgb(231, 153, 8);
  width: 60px;
  margin: 0 auto;
  margin-bottom: 30px;
  background-color: #f0f4f8;
}
.box {
  letter-spacing: 2px;
  background-color: rgba(122, 122, 123, 0.155);
  border-radius: 7px;
  text-align: center;
  box-shadow: 8px 6px 5px;
  height: 450px;
  width: 500px;
  padding-top: 2%;
}
.container {
  display: flex;
  justify-content: center;
  gap: 40px;
  padding: 0 30px;
}
.icon1 {
  font-size: 90px;
  color: black;
  font-weight: bold;
}

.box h5 {
  margin-bottom: 15px;
  font-size: 20px;
  font-weight: bold;
  text-shadow: 0px 1px 0px black;
}

.box p {
  font-size: 14px;
  line-height: 1.6;
  color: #f6f6f6;
}
.icon-m::before {
  content: "\f0ad";
  font-family: "FontAwesome";
}

.icon-spare::before {
  content: "\f1b9";
  font-family: "Font Awesome 5 Free";
}

.icon-import::before {
  content: "\f07a";
  font-family: "FontAwesome";
}
.box:hover {
  color: rgb(231, 153, 8);
  text-shadow: 0px 0px 1px;

  background-color: burlywood;
}
