@media (max-width: 1200px) {
  .navi ul li {
    margin: 0 50px;
  }
}
@media (max-width: 1036px) {
  .logo img {
    width: 150px;
  }

  .middd {
    display: flex;
    flex-direction: column;
  }

  .fpic {
    width: 100%;
    height: 500px;
    background-position: center;
  }
  .letter {
    width: 100%;
  }

  .letter h3 {
    font-size: 50px;
    padding-top: 20px;
    margin-left: 2%;
  }
  .q {
    margin-top: 4%;
    font-size: larger;
  }
  .q2 {
    font-size: 45px;
    margin-left: 0%;
    display: flex;
    margin-top: 5%;
    justify-content: center;
    align-items: center;
  }
  .q3 {
    margin-left: 0%;
    display: flex;
    margin-top: 3%;
    justify-content: center;
    align-items: center;
  }

  .q4 {
    background-position: center;
    justify-content: center;
    display: flex;
    float: right;
  }
  .q5 {
    font-size: 40px;
    margin-top: 10%;
  }

  .q6 {
    padding-top: 2%;
    font-size: 20px;
  }
  .q7 {
    font-family: "Playfair Display", serif;
    font-size: 35px;
    line-height: 1.2px;
    color: #333;
    margin-left: 5%;
    margin-top: 8%;
  }
  .q8 {
    display: flex;
    height: 10rem;
    gap: 1rem;
    margin-left: 2%;
    margin-top: 6%;
    margin-bottom: 1%;
  }
  .q8 > div {
    flex: 1;
    border-radius: 1rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 100%;
    transition: all 0.8s cubic-bezier(0.25, 0.4, 0.45, 1.4);
  }
  .q8 > div:hover {
    flex: 5;
  }

  .q2,
  .q3,
  .q5,
  .q6 {
    margin-left: 0;
    text-align: center;
  }
  /*footer*/
  .sticky-xxl-bottom {
    bottom: 0;
    text-align: center;
    margin: 10px;
  }
  .row {
    text-align: center;
    width: 100%;
  }
}

@media (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: center;
  }
  .navi ul {
    display: flex;
    flex-direction: column;
    padding: 0;
  }
  .navi ul li {
    margin: 10px 0;
    font-size: smaller;
  }
  .logo1 img,
  .logo2 img {
    width: 80px;
  }
  .q {
    font-size: 1rem;
  }
  .q2 {
    margin-top: 10%;
  }
  .q3 {
    margin-top: 5%;
  }

  .q6 {
    font-size: 1rem;
  }

  .q8 {
    width: 100%;
  }
  /*footer*/
  .footer {
    align-items: center;
    justify-content: center;
  }
  .grid {
    display: inline-block;
    align-items: center;
    justify-content: center;
    font-size: small;
  }
  .foot {
    align-items: center;
    justify-content: center;
    display: flex;
  }
  .sticky-xxl-bottom {
    font-size: smaller;
  }
}

@media (max-width: 480px) {
  .logo1 img,
  .logo img,
  .logo2 img {
    width: 120px;
  }
  .navi ul li {
    margin: 5px 0;
  }
  .navi ul li a:hover {
    color: rgb(231, 153, 8);
    text-shadow: 2px 0.5px 2px;
    transition: all 0.2s ease-in;
    border: none;
  }
  .q {
    padding-top: 2%;
  }
  .q {
    font-size: 0.8rem;
  }
  .letter h3 {
    font-size: ;
  }

  .q2,
  .q5 {
    font-size: 25px;
  }
  .q4 {
    display: inline-block;
  }
  .q5 {
    margin-top: 15px;
  }

  .q6 {
    font-size: 0.8rem;
  }
  .q7 {
    text-justify: newspaper;
    font-size: 20px;
    margin: 0;
    margin-top: 10%;
  }

  .q8 {
    width: 100%;
  }

  .row {
    width: 100%;
    margin: 10px;
    display: flexbox;
    text-justify: auto;
    text-align: center;
    font-size: smaller;
  }
  .sticky-xxl-bottom {
    font-size: smaller;
    bottom: 0;
    text-align: center;
  }
}
@media (max-width: 360px) {
  .row {
    font-size: 10px;
  }
  .letter h3 {
    font-size: 30px;
    padding-bottom: 5px;
  }

  .q {
    padding-top: 2%;
  }
  .q,
  .q3,
  .q6 {
    font-size: 0.7rem;
  }
  .q4 {
    width: 100px;
    height: 100px;
  }
  .q2,
  .q5,
  .q7 {
    font-size: medium;
  }
  .q7,
  .q5 {
    margin-bottom: 0;
  }

  .q6 {
    margin-top: 5px;
  }
  .row {
    font-size: 10px;
  }
  .sticky-xxl-bottom {
    font-size: 0.7rem;
  }
}

@media (max-width: 320px) {
  .navi ul li a:hover {
    color: rgb(231, 153, 8);
    text-shadow: 2px 0.5px 2px;
    transition: all 0.2s ease-in;
    border: none;
  }

  .row {
    margin-top: 10px;
    margin: -10px;
    display: flex;
    font-size: 9px;
    text-align: center;
  }
  .sticky-xxl-bottom {
    bottom: 0;
    text-align: center;
    padding-right: 10px;
    display: flex;
    flex-direction: column;
  }
  .icon a i {
    font-size: smaller;
  }
}
@media (max-width: 275px) {
  .q5 {
    font-size: 15px;
    margin-bottom: 4px;
  }
  .row {
    font-size: 4px;
    display: flex;
    flex-wrap: nowrap;
  }
  .g-col-8.logo img {
    width: 90px;
  }
  .icon a i {
    font-size: 5px;
    margin-left: 14px;
  }
}
