@media (max-width: 1200px) {
  .navi ul li {
    margin: 0 50px;
  }
  .text h1 {
    font-size: 50px;
  }
  .text h3 {
    font-size: 18px;
    letter-spacing: 10px;
  }
}
@media (max-width: 1036px) {
  .sticky-xxl-bottom {
    bottom: 0;
    text-align: center;
    margin: 10px;
  }
  .row {
    text-align: center;
    width: 100%;
  }
}

@media (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: center;
  }
  .navi ul {
    display: flex;
    flex-direction: column;
    padding: 0;
  }
  .navi ul li {
    margin: 10px 0;
    font-size: smaller;
  }

  .middle {
    height: 500px;
  }
  .text {
    padding: 10%;
  }
  .text h1 {
    font-size: 40px;
  }
  .text h3 {
    font-size: 16px;
    letter-spacing: 5px;
  }
  .footer {
    align-items: center;
    justify-content: center;
  }
  .grid {
    display: inline-block;
    align-items: center;
    justify-content: center;
    font-size: small;
  }
  .foot {
    align-items: center;
    justify-content: center;
    display: flex;
  }
  .sticky-xxl-bottom {
    font-size: smaller;
  }
}

@media (max-width: 512px) {
  .logo1 img,
  .logo img,
  .logo2 img {
    width: 120px;
  }
  .text {
    padding: 5%;
    text-align: center;
  }

  #get {
    margin-left: 7px;
    font-size: 20px;
    letter-spacing: 3px;
  }
  .text a {
    font-size: 12px;
    padding: 5px 10px;
    margin-right: 5%;
  }

  .row {
    width: 100%;
    margin: 10px;
    display: flex;
    text-justify: auto;
    text-align: center;
    font-size: smaller;
    flex-wrap: wrap;
    justify-content: center;
  }
  .sticky-xxl-bottom {
    font-size: smaller;
    bottom: 0;
    text-align: center;
  }
}
@media (max-width: 480px) {
  .navi ul li a {
    margin: 10px 0;
  }
  .navi ul li a:hover {
    color: rgb(231, 153, 8);
    text-shadow: 2px 0.5px 2px;
    border-radius: none;
    transition: all 0.2s ease-in;
  }
  .g-col-8.logo img {
    width: 150px;
  }

  .icon a i {
    font-size: 10px;
  }

  .row {
    margin: 7px;
    font-size: 8px;
  }
}
@media (max-width: 360px) {
  #welcome {
    font-size: 40px;
  }
  .row {
    font-size: 7px;
    display: flex;
    flex-wrap: nowrap;
  }
  .g-col-8.logo img {
    width: 120px;
  }
}
@media (min-width: 150px) and (max-width: 320px) {
  .navi ul li a:hover {
    color: rgb(231, 153, 8);
    text-shadow: 2px 0.5px 2px;
    transition: all 0.2s ease-in;
    border: none;
  }
  #get {
    font-size: 12px;
    letter-spacing: 2px;
  }
  .text a {
    font-size: 10px;
    padding: 3px 8px;
  }
  .row {
    margin-top: 10px;
    display: flex;

    font-size: 6px;
    text-align: center;
  }
  .g-col-8.logo img {
    width: 100px;
  }
  .icon a i {
    font-size: 10px;
  }
  .sticky-xxl-bottom {
    font-size: 0.7rem;
    bottom: 0;
    text-align: center;
    padding-right: 10px;
    display: flex;
  }
  .icon a i {
    font-size: smaller;
    margin-left: 10px;
  }
}

@media (max-width: 275px) {
  .row {
    font-size: 4px;
    display: flex;
    flex-wrap: nowrap;
  }
  .g-col-8.logo img {
    width: 90px;
  }
  .icon a i {
    font-size: 5px;
    margin-left: 14px;
  }
}
